{% extends "base.html" %}

{% block content %}
  <h1>Driver List</h1>
  
  {% if driver_list %}
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>License Number</th> 
          <th>Manufacturer</th>
      </thead>
      <tbody>
        {% for driver in driver_list %}
          <tr>
            <td>{{ driver.id }}</td>
            <td>{{ driver.first_name }}</td>
            <td>{{ driver.last_name }}</td>
            <td>{{ driver.license_number }}</td> 
            <td>{{ driver.manufacturer.name }}</td> 
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">No drivers found.</td> 
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No drivers found.</p> 
  {% endif %}
{% endblock %}
